1)What assumptions are made about the attributes in
Naïve Bayes method of classification and why? What is
Laplacian correction and why it is necessary?

Answer:

In Naive Bayes, we make the assumptions that the presence of a particular features/attributes in a class is unrelated to the presence of any other features/attributes that means they are not correlated with each other which means the features are conditionally independent given the class label. This means that the presence or value of one feature is assumed not to depend on the presence or value of any other feature, once the class label is known.This approach is based on the assumption that the features of the input data are conditionally independent given the class, allowing the algorithm to make predictions quickly and accurately.

The assumption of feature independence in Naive Bayes simplifies the computation and makes the algorithm more efficient. By assuming independence, the joint probability of features given the class can be computed as the product of individual feature probabilities. This simplification is particularly useful when dealing with high-dimensional feature spaces.

Laplacian correction is a technique used to handle the problem of zero probabilities in the context of Naïve Bayes classification. When you calculate conditional probabilities, you might encounter situations where a particular feature hasn't been observed in combination with a specific class label in your training data. This can lead to conditional probabilities of zero, which can cause issues when you multiply probabilities together in the Naïve Bayes formula.

Laplacian correction involves adding a small constant (usually 1) to the count of each feature for each class. This effectively "smoothes" the probability estimates, preventing them from being exactly zero. Laplacian correction helps to avoid zero probabilities and ensures that no feature is entirely removed when making predictions.

2)Take the iris data. Use Naïve Bayes algorithm to find the species with the following two observations.
[4.5 3.0 5.6 2.1; 5.4 2.6 4.5 0.0] Show various steps involved and do as explained in the class.

In [1]:
# importing necessary libraries
import numpy as np
import pandas as pd
from sklearn import datasets 
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
import math

In [31]:
# loading the iris dataset 
iris = datasets.load_iris()
print(iris.keys())
iris.target
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
target_series = pd.Series(iris.target, name='target')
iris_df['target'] = target_series
print(iris_df)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns]

In [3]:
target_names=iris.target_names
print(target_names.dtype)

<U10

In [4]:
X = iris.data
y =iris.target
print(y)
species_names = [target_names[i] for i in y]
print(species_names)
y_df=pd.DataFrame(species_names)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica']

From the above method we have mapped the values 0 to setosa, 1 to versicolor and 2 to virginica

In [5]:
iris.DESCR

'.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...'

In [6]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [7]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
pd.DataFrame(X).head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [9]:
(pd.DataFrame(X)).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [10]:
pd.DataFrame(X).describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

We have created dataframe for data

In [11]:
df_x = pd.DataFrame(X)
df_x.columns = ['SL', 'SW', "PL","PW"]

In [12]:
df_x.describe()

               SL          SW          PL          PW
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [13]:
pd.DataFrame(X).isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [14]:
X_train=df_x
print(X_train.shape)
print(X_train.head(3))

(150, 4)
    SL   SW   PL   PW
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2

We have provided iris.data dataframe to X_train

In [15]:
y_train=y
print(y_train)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

We have provided iris.target array to y_train

In [16]:
count=pd.DataFrame(y_train).value_counts()
sum=pd.DataFrame(y_train).value_counts().sum()
priori_probability_of_setosa=count[0]/sum
priori_probability_of_versicolor=count[1]/sum
priori_probability_of_virginica=count[2]/sum
#print(priori_probability_of_setosa)

Above we have Calculated priori probability for given class labels

We need to calculate the mean and standard deviation of setosa,versicolor and virginica for each input sepal_length,sepal_width,petal_length,petal_width based on the training data. We need to do this to calculate conditional probability of each class

In [35]:
setosa_data = iris_df[iris_df['target'] == 0]
setosa_data_mean=setosa_data.iloc[:,0:4].mean()
setosa_data_std=setosa_data.iloc[:,0:4].std()
print("The mean for various features given the class is Setosa is:\n",setosa_data_mean)
print("The standard deviation for various features given the class is Setosa is:\n",setosa_data_std)

versicolor_data = iris_df[iris_df['target']==1]
versicolor_data_mean=versicolor_data.iloc[:,0:4].mean()
versicolor_data_std=versicolor_data.iloc[:,0:4].std()
print("The mean for various features given the class is Versicolor is:\n",versicolor_data_mean)
print("The standard deviation for various features given the class is Versicolor is:\n",versicolor_data_std)

virginica_data = iris_df[iris_df['target'] == 2]
virginica_data_mean=virginica_data.iloc[:,0:4].mean()
virginica_data_std=virginica_data.iloc[:,0:4].std()
print("The mean for various features given the class is Virginica is:\n",virginica_data_mean)
print("The standard deviation for various features given the class is Virginica is:\n",virginica_data_std)

The mean for various features given the class is Setosa is:
 sepal length (cm)    5.006
sepal width (cm)     3.428
petal length (cm)    1.462
petal width (cm)     0.246
dtype: float64
The standard deviation for various features given the class is Setosa is:
 sepal length (cm)    0.352490
sepal width (cm)     0.379064
petal length (cm)    0.173664
petal width (cm)     0.105386
dtype: float64
The mean for various features given the class is Versicolor is:
 sepal length (cm)    5.936
sepal width (cm)     2.770
petal length (cm)    4.260
petal width (cm)     1.326
dtype: float64
The standard deviation for various features given the class is Versicolor is:
 sepal length (cm)    0.516171
sepal width (cm)     0.313798
petal length (cm)    0.469911
petal width (cm)     0.197753
dtype: float64
The mean for various features given the class is Virginica is:
 sepal length (cm)    6.588
sepal width (cm)     2.974
petal length (cm)    5.552
petal width (cm)     2.026
dtype: float64
The standard deviation for various features given the class is Virginica is:
 sepal length (cm)    0.635880
sepal width (cm)     0.322497
petal length (cm)    0.551895
petal width (cm)     0.274650
dtype: float64

Calculate conditional probability with each attributes for each class

In [36]:
observations = np.array([[4.5, 3.0, 5.6, 2.1], [5.4, 2.6, 4.5, 0.0]])
data_setosa=["P(Sepal_length|Setosa)","P(Sepal_Width|Setosa)","P(Petal_Length|Setosa)","P(Petal_Width|Setosa)"]
data_versicolor=["P(Sepal_length|Versicolor)","P(Sepal_Width|Versicolor)","P(Petal_Length|Versicolor)","P(Petal_Width|Versicolor"]
data_virginica=["P(Sepal_length|Virginica)","P(Sepal_Width|Virginica)","P(Petal_Length|Virginica)","P(Petal_Width|Virginica"]


for obs in observations:
    product_probability_setosa = 1.0
    product_probability_versicolor = 1.0
    product_probability_virginica=1.0
    print("For observation",obs,"\n")
    print("Probability of various features given setosa :\n")
    for i in range(0,4):
         probability_setosa=(1 / (math.sqrt(2 * math.pi) * setosa_data_std[i])) * math.exp(-(obs[i] - setosa_data_mean[i]) ** 2 / (2 * setosa_data_std[i]**2))
         print(data_setosa[i],probability_setosa)
         product_probability_setosa *= probability_setosa
    print("The Setosa class conditional probability is:",product_probability_setosa)        
    print("\n")      
    print("Probability of various features given versicolor:\n")
    for i in range(0,4):         
         probability_versicolor=(1 / (math.sqrt(2 * math.pi) * versicolor_data_std[i])) * math.exp(-(obs[i] - versicolor_data_mean[i]) ** 2 / (2 * versicolor_data_std[i] ** 2))
         print(data_versicolor[i],probability_versicolor)  
         product_probability_versicolor*=probability_versicolor
    print("The Versicolor class conditional probability is:",product_probability_versicolor) 
    print("\n")
    print("Probability of various features given virginica:\n")
    for i in range(0,4):
        probability_virginica = (1 / (math.sqrt(2 * math.pi) * virginica_data_std[i])) * math.exp(-(obs[i] - virginica_data_mean[i]) ** 2 / (2 * virginica_data_std[i] ** 2))
        print(data_virginica[i],probability_virginica) 
        product_probability_virginica*=probability_virginica
    print("The Virginica class conditional probability is:",product_probability_virginica) 
    print("\n")
    print("After multiplying priori probability with probability obtained for each class we get")
    print("The setosa class probability is:","posterior(Setosa)= ",priori_probability_of_setosa*product_probability_setosa)
    print("The versicolor class probability is:","posterior(Versicolor)=",priori_probability_of_versicolor*product_probability_versicolor)
    print("The virginica class probability is:","posterior(Virginica)=",priori_probability_of_virginica*product_probability_virginica)
    print("\n")

For observation [4.5 3.  5.6 2.1]

Probability of various features given setosa :

P(Sepal_length|Setosa) 0.40391975890792015
P(Sepal_Width|Setosa) 0.5563720880377238
P(Petal_Length|Setosa) 1.1875405242367555e-123
P(Petal_Width|Setosa) 2.353004600837859e-67
The Setosa class conditional probability is: 6.279595184135966e-191


Probability of various features given versicolor:

P(Sepal_length|Versicolor) 0.016123980956471266
P(Sepal_Width|Versicolor) 0.9718584132539115
P(Petal_Length|Versicolor) 0.0145589541130253
P(Petal_Width|Versicolor 0.0009511683841995661
The Versicolor class conditional probability is: 2.170015614218387e-07


Probability of various features given virginica:

P(Sepal_length|Virginica) 0.00285883802442595
P(Sepal_Width|Virginica) 1.2330295149586665
P(Petal_Length|Virginica) 0.7201306142015773
P(Petal_Width|Virginica 1.400769467292069
The Virginica class conditional probability is: 0.0035558297825851377


After multiplying priori probability with probability obtained for each class we get
The setosa class probability is: posterior(Setosa)=  2.0931983947119886e-191
The versicolor class probability is: posterior(Versicolor)= 7.233385380727956e-08
The virginica class probability is: posterior(Virginica)= 0.001185276594195046


For observation [5.4 2.6 4.5 0. ]

Probability of various features given setosa :

P(Sepal_length|Setosa) 0.6059838743901511
P(Sepal_Width|Setosa) 0.09685614755749451
P(Petal_Length|Setosa) 8.107018903829578e-67
P(Petal_Width|Setosa) 0.24826653370746374
The Setosa class conditional probability is: 1.1813201853869787e-68


Probability of various features given versicolor:

P(Sepal_length|Versicolor) 0.45078048861113157
P(Sepal_Width|Versicolor) 1.0978131268374147
P(Petal_Length|Versicolor) 0.7451634717606432
P(Petal_Width|Versicolor 3.479271166335914e-10
The Versicolor class conditional probability is: 1.2830198183747895e-10


Probability of various features given virginica:

P(Sepal_length|Virginica) 0.10954451854991006
P(Sepal_Width|Virginica) 0.6314538979435028
P(Petal_Length|Virginica) 0.1175061164578375
P(Petal_Width|Virginica 2.218399199434649e-12
The Virginica class conditional probability is: 1.8031525587599463e-14


After multiplying priori probability with probability obtained for each class we get
The setosa class probability is: posterior(Setosa)=  3.937733951289929e-69
The versicolor class probability is: posterior(Versicolor)= 4.2767327279159646e-11
The virginica class probability is: posterior(Virginica)= 6.010508529199821e-15

Above we have Multiplied the same class conditional probability and we have multiplied priori probability with conditional probability obtained for each class.From the above we can see that for first observation the output is virginica as virginica class has the highest probability and for the second observation the output is versicolor as the versicolor class has the highest probability

In [19]:
# training a Naive Bayes classifier 
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
gnb_model = GaussianNB().fit(X_train, y_train)

We have used naive bayes model to fit the training data

In [20]:
X_test=pd.DataFrame([[4.5,3.0,5.6,2.1],[5.4,2.6,4.5,0.0]],columns=['SL', 'SW', "PL","PW"])
y_pred_gnb = gnb_model.predict(X_test) 
y_pred_gnb
print(y_pred_gnb)
species_names = [target_names[i] for i in y_pred_gnb]
print(species_names)

[2 1]
['virginica', 'versicolor']

We have predicted the output for the 2 observations on the model. And we get virginica and versicolour as the output for the 2 observations on sepal length,sepal width,petal length and petal width [4.5,3.0,5.6,2.1],[5.4,2.6,4.5,0.0] respectively. This is what we had expected the output should be when we had calculated manually for both the observations.

3) Consider the data of play tennis or not. Predict the output for the following cases.
1. Outlook: Sunny, Temp: Hot, Humidity: High, Wind = Strong
2. Outlook = Overcast, Temp = Mild, humidity = High, Wind = Strong
Verify your answer with sklearn

Answer:
--> 1st scenario: Outlook: Sunny, Temp: Hot, Humidity: High, Wind = Strong

1)We will calculate priori probability for given class labels
P(Play = yes) = 9/14, P(play = No) = 5/14

2)Calculate conditional probability with each attributes for each class

P(Outlook=Sunny|Play=Yes) = 2/9
P(Temperature=Hot|Play=Yes) = 2/9
P(Humidity=High|Play=Yes) = 3/9
P(Wind=Strong|Play=Yes) = 3/9

P(Outlook=Sunny|Play=No) = 3/5
P(Temperature=Hot|Play==No) = 2/5
P(Humidity=High|Play=No) = 4/5
P(Wind=Strong|Play=No) = 3/5

3)Multiply same class conditional probability and Multiply that with priori probability 

P(Yes|x ’): [P(Sunny|Yes)P(Hot|Yes)P(High|Yes)P(Strong|Yes)]P(Play=Yes) = (2/9)x(2/9)x(3/9)x(3/9)x(9/14)=0.003527

P(No|x ’): [P(Sunny|No) P(Hot|No)P(High|No)P(Strong|No)]P(Play=No) = (3/5)x(2/5)x(4/5)x(3/5)x(5/14)=0.0421

4)See which class has higher probability. Higher probability class belongs to given input set

Given the fact P(Yes| x’) < P(No| x’), we label x’ to be “No”.

So the output predicted for the first scenario is no that means we cannot play tennis





--> 2nd scenario:Outlook = Overcast, Temp = Mild, humidity = High, Wind = Strong

1)We will calculate priori probability for given class labels
P(Play = yes) = 9/14, P(play = No) = 5/14

2)Calculate conditional probability with each attributes for each class

P(Outlook=Overcast|Play=Yes) = 4/9
P(Temperature=Mild|Play=Yes) = 4/9
P(Humidity=High|Play=Yes) = 3/9
P(Wind=Strong|Play=Yes) = 3/9

P(Outlook=Overcast|Play=No) = 0/5
P(Temperature=Mild|Play==No) = 2/5
P(Humidity=High|Play=No) = 4/5
P(Wind=Strong|Play=No) = 3/5

3)Multiply same class conditional probability and Multiply that with priori probability 

P(Yes|x ’):[P(Overcast|Yes)P(Mild|Yes)P(High|Yes)P(Strong|Yes)]P(Play=Yes)=(4/9)x(4/9)x(3/9)x(3/9)x(9/14)=0.01412

P(No|x ’):[P(Overcast|No)P(Mild|No)P(High|No)P(Strong|No)]P(Play=No)= (0/5)x(2/5)x(4/5)x(3/5)x(5/14)=0.000

4)See which class has higher probability. Higher probability class belongs to given input set

Given the fact P(Yes| x’) > P(No| x’), we label x’ to be “Yes”.

So the output predicted for the second scenario is yes that means we can play tennis

First we will store the given data as a tennis_data dataframe

In [21]:
tennis_data=pd.read_csv('tennis_data.csv')

In [22]:
tennis_data.head(5)

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3     Rainy        Mild     High    Weak         Yes
4     Rainy        Cool   Normal    Weak         Yes

Then the input data for which we have to predict the output we will store that as a tennis_test_data dataframe

In [23]:
tennis_test_data=pd.DataFrame([['Sunny','Hot','High','Strong'],['Overcast','Mild','High','Strong']],columns = ['Outlook','Temperature', 'Humidity', 'Wind' ])
tennis_test_data

    Outlook Temperature Humidity    Wind
0     Sunny         Hot     High  Strong
1  Overcast        Mild     High  Strong

We will convert the string labels into numbers for all the columns for both training and test data

In [24]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder
#creating labelEncoder
le = LabelEncoder()
# Converting string labels into numbers.
print("Converting Training String labels into numbers")
outlook_encoded=le.fit_transform(tennis_data['Outlook'])
print("Outlook:", outlook_encoded)
temp_encoded=le.fit_transform(tennis_data['Temperature'])
print("Temp:",temp_encoded)
humidity_encoded=le.fit_transform(tennis_data['Humidity'])
print("Humidity:",humidity_encoded)
wind_encoded=le.fit_transform(tennis_data['Wind'])
print("Wind:",wind_encoded)
label=le.fit_transform(tennis_data['Play Tennis'])
print("Play:",label)
print("\n")
print("Converting Test String labels into numbers")
outlook_test_encoded=le.fit_transform(tennis_test_data['Outlook'])
print("Outlook_ Test:",outlook_test_encoded)
temp_test_encoded=le.fit_transform(tennis_test_data['Temperature'])
print("Temperature Test:",temp_test_encoded)
humidity_test_encoded=le.fit_transform(tennis_test_data['Humidity'])
print("Humidity Test:",humidity_test_encoded)
wind_test_encoded=le.fit_transform(tennis_test_data['Wind'])
print("Wind Test:",wind_test_encoded)

Converting Training String labels into numbers
Outlook: [2 2 0 1 1 1 0 2 2 1 2 0 0 1]
Temp: [1 1 1 2 0 0 0 2 0 2 2 2 1 2]
Humidity: [0 0 0 0 1 1 1 0 1 1 1 0 1 0]
Wind: [1 0 1 1 1 0 0 1 1 1 0 0 1 0]
Play: [0 0 1 1 1 0 1 0 1 1 1 1 1 0]


Converting Test String labels into numbers
Outlook_ Test: [1 0]
Temperature Test: [0 1]
Humidity Test: [0 0]
Wind Test: [0 0]

Storing the encoded train data as X_train dataframe and encoded test data as X_test dataframe and storing encoded data play as y_train
so for outlook 2 means Sunny, 0 means Overcast and 1 means rainy
for temp 1 means hot,2 means mild and 0 means cool
for humidity 0 means high and 1 means normal
for wind 1 means weak and 0 means strong
for play 0 means no and 1 means yes

In [25]:
X_train=pd.DataFrame(zip(outlook_encoded,temp_encoded,humidity_encoded,wind_encoded),columns=['outlook', 'temp','humidity','wind'])
X_train
y_train=pd.DataFrame(label,columns=['play'])
y_train=y_train.values.ravel()
print(y_train)
X_test=pd.DataFrame(zip(outlook_test_encoded,temp_test_encoded,humidity_test_encoded,wind_test_encoded),columns=['outlook','temp','humidity','wind'])
X_test

[0 0 1 1 1 0 1 0 1 1 1 1 1 0]

   outlook  temp  humidity  wind
0        1     0         0     0
1        0     1         0     0

Using Naive bayes model we fit the training data

In [26]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
nb_model = GaussianNB()
nb_model.fit(X_train,y_train)

GaussianNB()

Then on the trained model we predict the output for test data

In [27]:
y_pred = nb_model.predict(X_test)
print(y_pred)
y_pred_df=pd.DataFrame(y_pred,columns=["Play_tennis"])
y_pred_df=y_pred_df.replace({0:'No',1:'Yes'})
print(y_pred_df)

[0 1]
  Play_tennis
0          No
1         Yes

As predicted above for the first scenario we got values as 0 which indicates the output is no which means we cannot play tennis and for the second scenario the output is 1 which means we can play tennis and that's what we had predicted when we had checked the class with higher probability for first and second scenarios by calculating.