In [4]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# %matplotlib inline

# Set some pandas options for controlling output

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

#### Get unique values in columns of a Dataframe

<font color = 'red'>DataFrame.unique(self, axis=0, dropna=True)</font> # 

returns the unique elements along different axis.

- If axis = 0 : It returns a series object containing the count of unique elements in each column.
- If axis = 1 : It returns a series object containing the count of unique elements in each row.
- Default value of axis is 0.

In [5]:
# List of Tuples
employees = [('jack', 34, 'Sydney', 5) ,
('Riti', 31, 'Delhi' , 7) ,
('Aadi', 16, np.NaN, 11) ,
('Mohit', 31,'Delhi' , 7) ,
('Veena', np.NaN, 'Delhi' , 4) ,
('Shaunak', 35, 'Mumbai', 5 ),
('Shaun', 35, 'Colombo', 11)
]
# Create a DataFrame object
emp_df = pd.DataFrame(employees, columns=['Name', 'Age', 'City', 'Experience'], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
print("Contents of the Dataframe : ")
print(emp_df)

Contents of the Dataframe :
      Name   Age     City  Experience
a     jack  34.0   Sydney           5
b     Riti  31.0    Delhi           7
c     Aadi  16.0      NaN          11
d    Mohit  31.0    Delhi           7
e    Veena   NaN    Delhi           4
f  Shaunak  35.0   Mumbai           5
g    Shaun  35.0  Colombo          11

In [6]:
emp_df.columns

Index(['Name', 'Age', 'City', 'Experience'], dtype='object')

In [7]:
emp_df.dtypes

Name           object
Age           float64
City           object
Experience      int64
dtype: object

In [8]:
# Get a series of unique values of the dataframe

column_values = emp_df.values.ravel()
unique_values =  pd.unique(column_values)
print(column_values)
print(unique_values)

['jack' 34.0 'Sydney' 5 'Riti' 31.0 'Delhi' 7 'Aadi' 16.0 nan 11 'Mohit'
 31.0 'Delhi' 7 'Veena' nan 'Delhi' 4 'Shaunak' 35.0 'Mumbai' 5 'Shaun'
 35.0 'Colombo' 11]
['jack' 34.0 'Sydney' 5 'Riti' 31.0 'Delhi' 7 'Aadi' 16.0 nan 11 'Mohit'
 'Veena' 4 'Shaunak' 35.0 'Mumbai' 'Shaun' 'Colombo']

In [9]:
pd.unique(emp_df['Age'])

array([34., 31., 16., nan, 35.])

In [10]:
''' 
Find unique values in a single column

'''

# Get a series of unique values in column 'Age' of the dataframe
uniqueValues = emp_df['Age'].unique()
 
print('Unique elements in column "Age" ')
print(uniqueValues)

Unique elements in column "Age"
[34. 31. 16. nan 35.]

#### Get count of unique values in columns of a Dataframe
<font color = 'red'>DataFrame.nunique(self, axis=0, dropna=True)</font>

It returns the count of unique elements along different axis.

- If axis = 0 : It returns a series object containing the count of unique elements in each column.
- If axis = 1 : It returns a series object containing the count of unique elements in each row.
- Default value of axis is 0.

In [11]:
'''Count unique values in a single column, it ignores NA values'''

# Count unique values in column 'Age' of the dataframe
uniqueValues_count = emp_df['Age'].nunique()
 
print('Number of unique values in column "Age" of the dataframe : ')
print(uniqueValues_count)

Number of unique values in column "Age" of the dataframe :
4

In [12]:
'''

Include NaN while counting the unique elements in a column


'''
# Count unique values in column 'Age' including NaN
uniqueValues_withna = emp_df['Age'].nunique(dropna=False)
 
print('Number of unique values in column "Age" including NaN')
print(uniqueValues_withna)

Number of unique values in column "Age" including NaN
5

In [13]:
'''

Count unique values in each column of the dataframe

'''

# Get a series object containing the count of unique elements
# in each column of dataframe
uniqueValues_df = emp_df.nunique()
 
print('Count of unique values in each column :')
print(uniqueValues_df)

Count of unique values in each column :
Name          7
Age           4
City          4
Experience    4
dtype: int64

In [14]:
# Count unique elements in each column including NaN
uniqueValues_withna = emp_df.nunique(dropna=False)
 
print("Count Unique values in each column including NaN")
print(uniqueValues_withna)

Count Unique values in each column including NaN
Name          7
Age           5
City          5
Experience    4
dtype: int64

In [15]:
# Get Unique values in a multiple columns
column_values = emp_df[["Name", "Age"]].values.ravel() # CHECK IT 
#unique_values =  pd.unique(column_values)
print(column_values)
#print(unique_values)

['jack' 34.0 'Riti' 31.0 'Aadi' 16.0 'Mohit' 31.0 'Veena' nan 'Shaunak'
 35.0 'Shaun' 35.0]

In [16]:
'''Get Unique values in a multiple columns


To get the unique values in multiple columns of a dataframe, we can merge the 
contents of those columns to 
create a single series object and then can call unique() function 
on that series object

'''

# Get unique elements in multiple columns i.e. Name & Age
uniqueValues = (emp_df['Name'].append(emp_df['Age'])).unique()
print('Unique elements in column "Name" & "Age" :')
print(uniqueValues)

Unique elements in column "Name" & "Age" :
['jack' 'Riti' 'Aadi' 'Mohit' 'Veena' 'Shaunak' 'Shaun' 34.0 31.0 16.0 nan
 35.0]

/var/folders/ct/b2rs611d1g96lldn5x1gj1wm0000gp/T/ipykernel_4223/1061482607.py:12: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  uniqueValues = (emp_df['Name'].append(emp_df['Age'])).unique()

#### Missing Data
Missing data is a problem in real life scenarios. Areas like machine learning and data mining face severe issues in the accuracy of their model predictions because of poor quality of data caused by missing values. In these areas, missing value treatment is a major point of focus to make their models more accurate and valid.

In Pandas missing data is represented by two value:

- **None**: None is a Python singleton object that is often used for missing data in Python code.

- **NaN**: NaN (an acronym for Not a Number), is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation

Pandas treat *None* and *NaN* as essentially interchangeable for indicating missing or null values. To facilitate this convention, there are several useful functions for detecting, removing, and replacing null values in Pandas DataFrame:

- <font color = 'red'>isnull()</font>
- <font color = 'red'> notnull()</font>
- <font color = 'red'>dropna()</font>
- <font color = 'red'>fillna()</font>
- <font color = 'red'>replace()</font>
- <font color = 'red'>interpolate()</font>


#### Handling Missing Values

- **Ignore the Missing Value During Analysis**:  This is usually done when class label is missing ( assuming the mining task involves classification). This method is not very effective, unless the record contains several attributes with missing values. It is especially poor when the percentage of missing values per attribute varies considerably.


- **Fill in the missing value manually**: In general, this approach is time consuming and may not be feasible given a large data set with many missing values


- **Use a global constant/mean or median to fill in the missing value**: Replace all missing feature values by the same constant/mean or median of the attribute


- **Use the most probable value to fill in the missing value**: This may be determined with regression, inference-based tools using a Bayesian formalism, or decision tree induction. 


**Note** it is as important to avoid adding bias and distortion
to the data as it is to make the information available.
	
<font color = 'red'> bias is added when a wrong value is filled-in </font>

No matter what techniques you use to conquer the problem, it
comes at a price. The more guessing you have to do, the further
away from the real data the database becomes. Thus, in turn, it
can affect the accuracy and validation of the mining results. 


Here we will see how we can handle missing values using Pandas

In [17]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
print("original data frame:")
print(df)

original data frame:
        one       two     three
a -0.009315  1.260082  0.179463
c  0.735934 -0.712741  0.737624
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
h -0.667570  2.584569 -1.205152

In [18]:
# It will introduce NA values where indices are not present in the original
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print("\n")
print("modified data frame with missing values:")
print(df)

modified data frame with missing values:
        one       two     three
a -0.009315  1.260082  0.179463
b       NaN       NaN       NaN
c  0.735934 -0.712741  0.737624
d       NaN       NaN       NaN
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
g       NaN       NaN       NaN
h -0.667570  2.584569 -1.205152

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, a to h
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     5 non-null      float64
 1   two     5 non-null      float64
 2   three   5 non-null      float64
dtypes: float64(3)
memory usage: 256.0+ bytes

#### Check for missing values

Pandas provides the <font color = 'red'>isnull</font> and <font color = 'red'>notnull()</font> functions.

In [20]:
print(df.isnull())

     one    two  three
a  False  False  False
b   True   True   True
c  False  False  False
d   True   True   True
e  False  False  False
f  False  False  False
g   True   True   True
h  False  False  False

In [21]:
# we can do one column also

print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [22]:
# Any missing values?
print(df.isnull().values.any())

True

In [23]:
print(df.isnull().values.all())

False

In [24]:
df

        one       two     three
a -0.009315  1.260082  0.179463
b       NaN       NaN       NaN
c  0.735934 -0.712741  0.737624
d       NaN       NaN       NaN
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
g       NaN       NaN       NaN
h -0.667570  2.584569 -1.205152

In [25]:
df.shape

(8, 3)

In [26]:
# Calculate the total number of missing values in each column

print(df.isnull().sum())

one      3
two      3
three    3
dtype: int64

In [27]:
len(df)

8

In [28]:
df.shape

(8, 3)

In [29]:
# Calculate the percentage
percent_na = df.isnull().sum()/len(df)
#percent_na = df.isnull().sum()/(df.shape[0])
print(percent_na)

one      0.375
two      0.375
three    0.375
dtype: float64

In [30]:
# Calculate the total number of missing values
total_na = (df.isnull().sum().sum())
print(total_na)
print(total_na/df.size)

9
0.375

In [31]:
df

        one       two     three
a -0.009315  1.260082  0.179463
b       NaN       NaN       NaN
c  0.735934 -0.712741  0.737624
d       NaN       NaN       NaN
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
g       NaN       NaN       NaN
h -0.667570  2.584569 -1.205152

In [32]:
df.iloc[1,1]= 0.983
df.iloc[6,2]= 0.758

In [33]:
df

        one       two     three
a -0.009315  1.260082  0.179463
b       NaN  0.983000       NaN
c  0.735934 -0.712741  0.737624
d       NaN       NaN       NaN
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
g       NaN       NaN  0.758000
h -0.667570  2.584569 -1.205152

In [34]:
df.isnull().sum()

one      3
two      2
three    2
dtype: int64

In [35]:
# Calculate the total number of missing values in each row
print(df.isnull().sum(axis = 1))

a    0
b    2
c    0
d    3
e    0
f    0
g    2
h    0
dtype: int64

In [36]:
df

        one       two     three
a -0.009315  1.260082  0.179463
b       NaN  0.983000       NaN
c  0.735934 -0.712741  0.737624
d       NaN       NaN       NaN
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
g       NaN       NaN  0.758000
h -0.667570  2.584569 -1.205152

Only the rows having *one = Null*  are displayed

In [37]:
df

        one       two     three
a -0.009315  1.260082  0.179463
b       NaN  0.983000       NaN
c  0.735934 -0.712741  0.737624
d       NaN       NaN       NaN
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
g       NaN       NaN  0.758000
h -0.667570  2.584569 -1.205152

In [38]:
#df[pd.isnull(df['one'])]
df[pd.isnull(df['one'])]['one']

b   NaN
d   NaN
g   NaN
Name: one, dtype: float64

**Checking for missing values using** <font color = 'red'>notnull()</font>

In order to check null values in Pandas Dataframe, we use <font color = 'red'>notnull()</font> function this function return dataframe of Boolean values which are False for NaN values.

In [39]:
#df['one'].isnull()
df.isnull()

     one    two  three
a  False  False  False
b   True  False   True
c  False  False  False
d   True   True   True
e  False  False  False
f  False  False  False
g   True   True  False
h  False  False  False

In [40]:
df.notnull()

     one    two  three
a   True   True   True
b  False   True  False
c   True   True   True
d  False  False  False
e   True   True   True
f   True   True   True
g  False  False   True
h   True   True   True

Only the rows having **one = Not Null**  are displayed

In [41]:
# get non-null values 
df[pd.notnull(df['one'])]

        one       two     three
a -0.009315  1.260082  0.179463
c  0.735934 -0.712741  0.737624
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
h -0.667570  2.584569 -1.205152

In [42]:
''''Count total NaN at each row in DataFrame'''

for i in range(len(df.index)) :
    print("Nan in row", i ,":",  df.iloc[i].isnull().sum())

Nan in row 0 : 0
Nan in row 1 : 2
Nan in row 2 : 0
Nan in row 3 : 3
Nan in row 4 : 0
Nan in row 5 : 0
Nan in row 6 : 2
Nan in row 7 : 0

#### Calculations with Missing Data

- When summing data, NA will be treated as **Zero**
- If the data are all NA, then the result will be NA

In [43]:
# one column
print(df['one'].sum())
print('\n')

1.1592617215255872

In [44]:
# DataFrame
print(df.sum())

one      1.159262
two      4.966058
three   -0.246196
dtype: float64

#### Drop Missing Values
If you want to simply exclude the missing values, then use the <font color = 'red'>dropna</font> function along with the axis argument. By default, axis=0, i.e., along row, which means that if any value within a row is NA then the whole row is excluded.

<font color = 'red'>DataFrame.dropna()</font>

Python’s pandas library provides a function to remove rows or columns from a dataframe which contain missing values or NaN

<font color = 'red'>DataFrame.dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)</font>

**Arguments** :

- **axis**:
    - 0 , to drop rows with missing values
    - 1 , to drop columns with missing values
- **how**:
    - ‘any’ : drop if any NaN / missing value is present
    - ‘all’ : drop if all the values are missing / NaN
- **thresh**: threshold for non NaN values
- **inplace** : If True then make changes in the dataplace itself

In [45]:
df.shape

(8, 3)

In [46]:
print(df.dropna())

        one       two     three
a -0.009315  1.260082  0.179463
c  0.735934 -0.712741  0.737624
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
h -0.667570  2.584569 -1.205152

In [47]:
df

        one       two     three
a -0.009315  1.260082  0.179463
b       NaN  0.983000       NaN
c  0.735934 -0.712741  0.737624
d       NaN       NaN       NaN
e -0.129400 -0.436079 -0.369286
f  1.229614  1.287228 -0.346845
g       NaN       NaN  0.758000
h -0.667570  2.584569 -1.205152

In [48]:
print(df.dropna(axis = 1))

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

In [49]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [1., 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  1.0  6.5  3.0

In [50]:
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0
3  1.0  6.5  3.0

In [51]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  1.0  6.5  3.0

In [56]:
data.dropna(how = 'any')

     0    1    2
0  1.0  6.5  3.0
3  1.0  6.5  3.0

Passing **how='all'** will only drop rows that are all NA:

In [57]:
data.dropna(axis=1, how='any')  # axis = 1 drop columns
#data.dropna(axis=1, how='all')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [55]:
'''

Drop Rows with any missing value in selected columns only

'''
mod_df = data.dropna(how = 'any', subset=[0,2])

print("Contents of the Modified Dataframe : ")
print(mod_df)

Contents of the Modified Dataframe :
     0    1    2
0  1.0  6.5  3.0
3  1.0  6.5  3.0

**thresh** Argument in the dropna() function

Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:

In [2]:
data

NameError: name 'data' is not defined

In [3]:
data.dropna(thresh=1)
#data.dropna(thresh = 3)

NameError: name 'data' is not defined

#### Filling Missing data
Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the “holes” in any number of ways. 

Pandas provides <font color = 'red'>fillna</font> function to fill in NA values with non-null data in various ways.

In [200]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  1.0  6.5  3.0

In [201]:
# Replace NaN with a scalar Value

print ("NaN replaced with '0':")
print(data.fillna(0))

NaN replaced with '0':
     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  1.0  6.5  3.0

In [202]:
# Fill NA in particular columns with different values
data.fillna({0: 0.5, 2: 0})

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  0.0
2  0.5  NaN  0.0
3  1.0  6.5  3.0

In [203]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  1.0  6.5  3.0

#### Fill NA Foward and Backward

| Method |   Action   |
|:---|:---|
|   pad/fill | Fill methods forward   |
|   bfill/backfill | Fill methods Backward    |

In [58]:
print(data.fillna(method='pad'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0

In [59]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  1.0  6.5  3.0

In [60]:
print(data.fillna(method='bfill'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0

In [207]:
df

        one       two     three
a  1.354348  0.358138 -0.603686
b  0.366249 -0.122000  0.018230
c -0.251607  0.546859  0.360552
d  0.366249 -0.122000  0.018230
e  0.398737 -0.417704  0.267737
f  0.621255  0.659855  0.824654
g  0.366249 -0.122000  0.018230
h -0.291490 -1.757148 -0.758105

In [208]:
print(df.fillna(method='pad'))

        one       two     three
a  1.354348  0.358138 -0.603686
b  0.366249 -0.122000  0.018230
c -0.251607  0.546859  0.360552
d  0.366249 -0.122000  0.018230
e  0.398737 -0.417704  0.267737
f  0.621255  0.659855  0.824654
g  0.366249 -0.122000  0.018230
h -0.291490 -1.757148 -0.758105

In [61]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  1.0  6.5  3.0

In [62]:
print(data.fillna(method='backfill'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0

With **fillna** you can do lots of other things with a little creativity. For example, you might pass the mean or median value of a Series:

In [63]:
data = pd.Series([1., np.nan, 3.5, np.nan, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [64]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [65]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)

        one       two     three
a  0.186016 -0.649033 -1.412452
b       NaN       NaN       NaN
c  0.767773 -0.523762 -0.394308
d       NaN       NaN       NaN
e -0.039639  0.632435  1.329215
f -1.113163  0.200517 -0.406525
g       NaN       NaN       NaN
h  1.244349  0.018936  1.295439

Filling a null values using **replace()** method

In [66]:
# will replace Nan value in dataframe with value -999

In [67]:
df.replace(to_replace = np.nan, value = -999)

          one         two       three
a    0.186016   -0.649033   -1.412452
b -999.000000 -999.000000 -999.000000
c    0.767773   -0.523762   -0.394308
d -999.000000 -999.000000 -999.000000
e   -0.039639    0.632435    1.329215
f   -1.113163    0.200517   -0.406525
g -999.000000 -999.000000 -999.000000
h    1.244349    0.018936    1.295439

Using **interpolate()** function to fill the missing values using linear method.

In [220]:
# to interpolate the missing values 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
df.interpolate(method ='linear', limit_direction ='forward')

        one       two     three
a -1.069206 -2.390382  1.073111
b       NaN       NaN       NaN
c -1.172337  0.752013  0.548335
d       NaN       NaN       NaN
e  0.995436  0.356959  0.274437
f -0.885913 -1.538093 -0.739337
g       NaN       NaN       NaN
h -0.582092 -0.263053  0.254739

        one       two     three
a -1.069206 -2.390382  1.073111
b -1.120772 -0.819184  0.810723
c -1.172337  0.752013  0.548335
d -0.088450  0.554486  0.411386
e  0.995436  0.356959  0.274437
f -0.885913 -1.538093 -0.739337
g -0.734003 -0.900573 -0.242299
h -0.582092 -0.263053  0.254739

In [221]:
df.fillna(df.mean(), inplace = True)
df

        one       two     three
a -1.069206 -2.390382  1.073111
b -0.542823 -0.616511  0.282257
c -1.172337  0.752013  0.548335
d -0.542823 -0.616511  0.282257
e  0.995436  0.356959  0.274437
f -0.885913 -1.538093 -0.739337
g -0.542823 -0.616511  0.282257
h -0.582092 -0.263053  0.254739

#### Dealing with Duplicate Values

In [222]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

The DataFrame method <font color = 'red'>duplicated</font> returns a boolean Series indicating whether each row is a duplicate

In [223]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

Relatedly, <font color = 'red'>drop_duplicates</font> returns a DataFrame where the duplicated array is False:

In [224]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [ ]:
data

Both of these methods by default consider all of the columns; alternatively, you can specify any subset of them to detect duplicates. Suppose we had an additional column of values and wanted to filter duplicates only based on the 'k1' column:

In [76]:
data['v1'] = range(7)

In [77]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [78]:
data.drop_duplicates(['k1'])
#data.drop_duplicates()

    k1  k2  v1
0  one   1   0
1  two   1   1

#### Discretization and Binning
Continuous data is often discretized or otherwise separated into “bins” for analysis.

In [80]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
print(ages)

[20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Let’s divide these into bins of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older. To do so, you have to use cut, a function in pandas:

In [81]:
bins = [18, 25, 35, 60, 100]

In [82]:
cats = pd.cut(ages,bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

The object pandas returns is a special Categorical object. The output you see describes the bins computed by pandas.cut. You can treat it like an array of strings indicating the bin name; internally it contains a categories array specifying the dis‐ tinct category names along with a labeling for the ages data in the codes attribute:

In [83]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [84]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

Consistent with mathematical notation for intervals, a parenthesis means that the side is open, while the square bracket means it is closed (inclusive). You can change which side is closed by passing right=False:

In [85]:
pd.cut(ages, [18, 25, 35, 60, 100], right=False)

[[18, 25), [18, 25), [25, 35), [25, 35), [18, 25), ..., [25, 35), [60, 100), [35, 60), [35, 60), [25, 35)]
Length: 12
Categories (4, interval[int64, left]): [[18, 25) < [25, 35) < [35, 60) < [60, 100)]

In [86]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

You can also pass your own bin names by passing a list or array to the labels option:

In [88]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [89]:
pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

If you pass an integer number of bins to cut instead of explicit bin edges, it will compute equal-length bins based on the minimum and maximum values in the data. Consider the case of some uniformly distributed data chopped into fourths:

In [90]:
data = np.random.rand(20)
data

array([0.04695572, 0.02492307, 0.63691027, 0.04831942, 0.12832096,
       0.46388775, 0.98081816, 0.10972976, 0.02517424, 0.68022283,
       0.58363332, 0.18237929, 0.61646585, 0.34944021, 0.20517741,
       0.72336891, 0.00271105, 0.36705793, 0.6660005 , 0.11993632])

In [91]:
pd.cut(data, 4, precision=2)

[(0.0017, 0.25], (0.0017, 0.25], (0.49, 0.74], (0.0017, 0.25], (0.0017, 0.25], ..., (0.49, 0.74], (0.0017, 0.25], (0.25, 0.49], (0.49, 0.74], (0.0017, 0.25]]
Length: 20
Categories (4, interval[float64, right]): [(0.0017, 0.25] < (0.25, 0.49] < (0.49, 0.74] < (0.74, 0.98]]

#### Detecting and Filtering Outliers
- Outliers are data objects with characteristics that are considerably different than most of the other data objects in the data set


- Data points inconsistent with the majority of data


- Outlier detection can be used for fraud detection or data cleaning


Outliers can drastically change the results of the data analysis and statistical modeling. There are numerous unfavourable impacts of outliers in the data set:


- It increases the error variance and reduces the power of statistical tests


- If the outliers are non-randomly distributed, they can decrease normality


- They can bias or influence estimates that may be of substantive interest


- They can also impact the basic assumption of Regression, ANOVA and other statistical model assumptions.

#### How to detect outliers

Most commonly used method to detect outliers is visualization. 

We use various visualization methods, like Box-plot, Histogram, Scatter plot, clustering, curve fitting. 


Some analysts also various thumb rules to detect outliers. Some of them are:

- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR


- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier

- Data points, three or more standard deviation away from mean are considered outlier


- Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding



#### How to remove them 
Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier observation and after that we can impute it with predicted values.

Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

In [92]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [93]:
data.shape

(1000, 4)

In [95]:
data.head(6)

          0         1         2         3
0 -0.159169 -0.765983 -0.967262 -0.584910
1 -0.308999 -0.860082 -0.873806 -0.465407
2 -0.912744 -0.980514 -1.211883 -1.353667
3  0.394324  2.157448  0.238104  0.074613
4  0.688542 -1.457646  0.039135 -1.734726
5  1.005974 -0.632832 -0.264051 -0.522218

In [96]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.010833    -0.003048    -0.044633     0.032344
std       1.027546     1.012849     0.999896     1.009377
min      -3.314158    -3.173423    -3.057841    -2.541354
25%      -0.658673    -0.627667    -0.766843    -0.722486
50%       0.032462    -0.034462    -0.057484     0.029262
75%       0.674990     0.619956     0.699498     0.722266
max       3.096226     3.877667     3.113535     3.248491

Suppose you wanted to find values in one of the columns exceeding 3 in absolute value:

<font color = 'red'> do z-score transformation. </font>

In [97]:
col = data[2]
col

0     -0.967262
1     -0.873806
2     -1.211883
3      0.238104
4      0.039135
         ...
995    0.165497
996   -1.559125
997    1.194488
998    0.411043
999    0.853108
Name: 2, Length: 1000, dtype: float64

In [98]:
col[np.abs(col)>3]

114    3.113535
623   -3.057841
Name: 2, dtype: float64

To select all rows having a value exceeding 3 or –3, you can use the any method on a boolean DataFrame:

In [99]:
data[(np.abs(data) > 3).any(1)]

/var/folders/tp/nnpgxs3d1rl0dlwj25kwmcn00000gn/T/ipykernel_42404/2969116195.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  data[(np.abs(data) > 3).any(1)]

            0         1         2         3
84  -0.258933 -1.753082 -2.001858  3.248491
114  0.267192 -0.795920  3.113535  1.026984
166  0.016686  3.310486  0.725794  1.779142
227 -3.280667  1.020046 -0.365676  1.838259
272 -3.314158  0.054977  0.060250  1.134532
..        ...       ...       ...       ...
608 -3.115277  0.155582  1.119411  0.606543
623  0.085189 -0.471656 -3.057841  0.489964
680  3.096226  0.870829  0.248657 -1.621977
921 -0.664166  3.877667  0.599410 -0.064998
979 -0.674065 -3.173423  0.400489  1.216701

[12 rows x 4 columns]

Values can be set based on these criteria. Here is code to cap values outside the inter‐ val –3 to 3

In [100]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [101]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.011422    -0.004465    -0.044688     0.032095
std       1.025010     1.007075     0.999370     1.008615
min      -3.000000    -3.000000    -3.000000    -2.541354
25%      -0.658673    -0.627667    -0.766843    -0.722486
50%       0.032462    -0.034462    -0.057484     0.029262
75%       0.674990     0.619956     0.699498     0.722266
max       3.000000     3.000000     3.000000     3.000000

#### Computing Indicator/Dummy Variables
Another type of transformation for statistical modeling or machine learning applica‐ tions is converting a categorical variable into a “dummy” or “indicator” matrix. If a column in a DataFrame has k distinct values, you would derive a matrix or Data‐ Frame with k columns containing all 1s and 0s. pandas has a get_dummies function for doing this, though devising one yourself is not difficult. 

When you’re using statistics or machine learning tools, you’ll often transform catego‐ rical data into dummy variables, also known as one-hot encoding. This involves creat‐ ing a DataFrame with a column for each distinct category; these columns contain 1s for occurrences of a given category and 0 otherwise.

Let’s return to an earlier example DataFrame:

In [102]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [ ]:
df.dtypes

In [ ]:
df.head()

In [103]:
pd.get_dummies(df)

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [104]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [105]:
dummies = pd.get_dummies(df['key'], prefix='key')
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [106]:
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [ ]:
df_with_dummy1 = df.join(dummies)
df_with_dummy1

A useful recipe for statistical applications is to combine get_dummies with a discretization function like cut:

In [110]:
np.random.seed(7)

In [111]:
values = np.random.rand(10)
values

array([0.07630829, 0.77991879, 0.43840923, 0.72346518, 0.97798951,
       0.53849587, 0.50112046, 0.07205113, 0.26843898, 0.4998825 ])

In [113]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [114]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           1           0           0           0           0
1           0           0           0           1           0
2           0           0           1           0           0
3           0           0           0           1           0
4           0           0           0           0           1
5           0           0           1           0           0
6           0           0           1           0           0
7           1           0           0           0           0
8           0           1           0           0           0
9           0           0           1           0           0

# Combining and Reshaping

Once the data is tidied up,it will likely that we will then need to use this data either to combine multiple sets of data, or to reorganize the data. 

Here we will discuss combination and reshaping of data. Combination of data in pandas is performed by concatenating two sets of data, where data is combined simply along either axes but without regard to the relationships in the data. Or data can be combined using relationships in the data by using a pandas capability referred to as merging, which provides join operations that are similar to those in may relational databases. 

We will discuss various reshaping techniques like pivoting, stacking, and unstacking, and melting of data. 

Pivoting allows to restructure data similarly to how spreadsheets pivot data by creating new index levels and moving data into columns based upon values (or vice-versa). 

Stacking and unstacking are similar to pivoting, but allow us to pivot data organized with multiple levels of indexes.

Finally, melting allows to restructure data into unique ID-variable-measurement combinations that are or required for many statistical analyses. Following concepts of combining and reshaping are available and will be discussed.

- Concatenation
- Merging and joining
- Pivots
- Stacking/unstacking
- Melting

#### Concatenating

Concatenating is the process of either adding rows to the end of an Series or DataFrame. The operation is performed via the function **concat**. Again the function will perform the operation on a specific axis. The general syntax is to pass a list of objects to **concat()** function.

In [ ]:
s1 = pd.Series(np.arange(1,5))
s1

In [ ]:
s2 = pd.Series(np.arange(5,9))
s2

In [ ]:
pd.concat([s1,s2])

In [ ]:
pd.concat([s1,s2], axis =1)

Two DataFrame objects can also be concatenated

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns = ['x','y','z'])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(9,18).reshape(3,3), columns = ['x','y','z'])
df2

In [ ]:
pd.concat([df1,df2])

The process of concatenating the two Dataframe objects will first identify the set of columns formed by aligning the labels in the columns, effectively determining the union of the column names. The resulting DataFrame object will then consists of columns, and columns with identical names will not be duplicated 

Rows will be then be added to the result, in the order of the each of the objects passed to function *concat()*. If a column in the result does not exist in the object being copied, NaN values will be filled in those locations. Duplicate row index labels can occur.

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns = ['a','b','c'])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(9,18).reshape(3,3), columns = ['a','c','d'])
df2

In [ ]:
# concat the two objects, but create an index using the given keys

df3 = pd.concat([df1,df2])
df3

*concat()* function allows to specify the axis on which to apply the concatenation.

In [ ]:
pd.concat([df1,df2], axis =1)  # column wise

Note the resultant dataframe contains duplicate columns. The concatenation first aligns by the row index labels of each DataFrame and then fills in the columns from the first DataFrame and then then the second. The columns are not aligned and result in duplicate values

The same rules of alignment and filling on NaN values apply in thsi case except that they are applied to the rows index labels. The following example demonstrates a concatenation along the columns axis with two DataFrames that have row index labebsl in common (2 and 3) along with disjoint rows(0 in df1 and 4 in df3). Additionally, some of the columns in df3 overlap with df1(a) as well as being disjoint(d)

In [ ]:
df3 = pd.DataFrame(np.arange(20,26).reshape(3,2), columns = ['a','d'], index = [2,3,4])
df3

In [ ]:
pd.concat([df1,df3], axis =1)

A concatenation of two or more DataFrame actually performs an outer join along the index labels on the axis opposite to the one specified. This makes the result of the concatenation similar to having performed a union of those index labels, and then data is filled based on the alignment of those labels to the source objects. 


The type of join can be changed to an inner join and can be performed by specifying *join= 'inner'* as the parameter. The inner join then logically performs the interaction instead of a union.

In [ ]:
pd.concat([df1,df3], axis = 1, join = 'inner') # only 2 is the common row.

It is also possible to use label groups of data along the columns using the *keys* parameter when applying the concatenation along axis = 1

In [ ]:
df=pd.concat([df1,df2], axis = 1, keys = ['df1', 'df2'])
df

**append()** method concatenate the two specified DataFrame long the row index labels

In [ ]:
df1.append(df2)

As with a concatenation on axis =1, the index labels in the rows are copied without consideration of the creation of duplicates, and the column labels are joined in a manner which ensures no duplicate column name in included in the result. 

If you would like to ensure that the resulting index does not have duplicates but preserves all of the rows, you can use the *ignore_index = True* parameter. This returns the same result except with new *Int64Index*

In [ ]:
df1.append(df2,ignore_index = True)

#### Merging and joining data

pandas provides functionality of merging the pandas objects with database like join operations using the **merge()** function and *merge* method of a Dataframe objects.

A merge combines the data of two pandas objects by finding matching values in one or more columns or row indexes. It then returns a new object that represents a combination of the data from both based on relational-databases-like join applied to those values

In [ ]:
df1 = pd.DataFrame({ 'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
df2 = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(df1)
print('\n')

print(df2)

In [ ]:
# Merge Two DataFrames on a key
print(pd.merge(df1,df2,on = 'id'))

In [ ]:
# Merge Two DataFrames on Multiple Keys
print(pd.merge(df1,df2,on=['id','subject_id']))

In [ ]:
customers = pd.DataFrame({'CustomerID': [10,11], 'Name':['John', 'Jenny'],'Address':["address of john", 'address of jenny']})
customers

In [ ]:
from datetime import datetime
orders = pd.DataFrame({'CustomerID': [10,11,10], 'Amount': [1000, 2000,5000]})
orders

In [ ]:
# Now we would like to know the amount of the order 
# each customer spent on each order  

customers.merge(orders)

what pandas has done is the following:

1. Determines the columns in both customers and orders with common labels. These columns are treated as the keys to perform the join

2. It creates a new DataFrame whose columns are the labels from the keys identified from the keys identified in step 1. followed by all of the non-key labels from both objects

3. It matches values in the key columns of both DataFrame objects

4. It then creates a row in the result for each set of matching labels

5. It then copies the data from those matching rows from each source object into that respective row and columns of the result

6. it assigns a new Int64Index to the result


The join in a merge can use values from multiple columns.

In [ ]:
left_data = {'key1':['a','b','c'], 'key2':['x','y','z'], 'lval1':['5','6','7']}
left = pd.DataFrame(left_data,index = [0,1,2])

left

In [ ]:
right_data = {'key1':['a','b','c'], 'key2':['x','a','z'], 'lval1':['1','2','3']}

right = pd.DataFrame(right_data, index = [1,2,3])
right

In [ ]:
left.merge(right, on = 'key1')

In [ ]:
left.merge(right, on=['key1', 'key2'])

The columns specified with on need to exist in both DataFrames. If you would like to merge based on columns with different names in each object, you can use the left_on and right_on parameters, passing the name or names of columns to each respective parameter.

In [ ]:
pd.merge(left,right,left_index = True, right_index = True)

In [ ]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'data1': range(6)})
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                    'data2': range(5)})
df1
df2
pd.merge(df1, df2, on='key', how='left')

In [ ]:
pd.merge(df1, df2, how='inner')

In [ ]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})
pd.merge(left, right, on=['key1', 'key2'], how='outer')

In [ ]:
pd.merge(left, right, on='key1')
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

### Merging on Index

In [ ]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
left1
right1
pd.merge(left1, right1, left_on='key', right_index=True)

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True, how='outer')

In [ ]:
lefth = pd.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio',
                               'Nevada', 'Nevada'],
                      'key2': [2000, 2001, 2002, 2001, 2002],
                      'data': np.arange(5.)})
righth = pd.DataFrame(np.arange(12).reshape((6, 2)),
                      index=[['Nevada', 'Nevada', 'Ohio', 'Ohio',
                              'Ohio', 'Ohio'],
                             [2001, 2000, 2000, 2000, 2001, 2002]],
                      columns=['event1', 'event2'])
lefth
righth

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True)

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'],
         right_index=True, how='outer')

In [ ]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                     index=['a', 'c', 'e'],
                     columns=['Ohio', 'Nevada'])
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                      index=['b', 'c', 'd', 'e'],
                      columns=['Missouri', 'Alabama'])
print(left2)
print(right2)
pd.merge(left2, right2, how='outer', left_index=True, right_index=True)

In [ ]:
left2.join(right2, how='outer')

In [ ]:
left1.join(right1, on='key')

In [ ]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
                       index=['a', 'c', 'e', 'f'],
                       columns=['New York', 'Oregon'])
another
left2.join([right2, another])

In [ ]:
left2.join([right2, another], how='outer')

### Pivoting “Wide” to “Long” Format

In [1]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                   'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})
df

NameError: name 'pd' is not defined

In [2]:
melted = pd.melt(df, ['key'])
melted

NameError: name 'pd' is not defined

In [ ]:
reshaped = melted.pivot('key', 'variable', 'value')
reshaped

In [ ]:
reshaped.reset_index()

In [ ]:
pd.melt(df, id_vars=['key'], value_vars=['A', 'B'])

In [ ]:
pd.melt(df, value_vars=['A', 'B', 'C'])
pd.melt(df, value_vars=['key', 'A', 'B'])

#### GroupBy

Categorizing a dataset and applying a function to each group, whether an aggregation or transformation, is often a critical component of a data analysis workflow. After loading, merging, and preparing a dataset, you may need to compute group statistics or possibly pivot tables for reporting or visualization purposes. pandas provides a flexible **groupby** interface, enabling you to slice, dice, and summarize datasets in a natural way.

Group operations are described by **split-apply-combine** according to *Hadley Wickham* , an author of many popular packages for the R programming language

Many complex group operations can be performed in pandas. 

Any **groupby** operation involves one of the following operations on the original object. They are −

- **Split** a pandas object into pieces using one or more keys (in the form of functions, arrays, or DataFrame column names)

- Calculate group summary statistics, like count, mean, or standard deviation, or a user-defined function

- Apply within-group transformations or other manipulations, like normalization, linear regression, rank, or subset selection


- Compute pivot tables and cross-tabulations

The following diagram demonstrates split-apply-combine process to sum group of numbers:

In [ ]:
from IPython.display import Image
Image(filename='split-apply-combine.png')

The process is similar to the concepts in MapReduce. As in MapReduce job is divided into pieces and distributed to many computers. Each computer then performs analysis on the set of data and calculates a result. The results are then collected and used to make decision.

But in pandas, this operation differs in the scope of the data and processing. In pandas, all of the data is in memory of a single system. Because of this, it is limited to that single system's processing capabilities, but tis also makes the data analysis for that scale of data faster and more interactive in nature.

#### GroupBy Mechanics

Split Data into Groups
Pandas object can be split into any of their objects. There are multiple ways to split an object like −

- <font color = 'red'>obj.groupby('key')</font>
- <font color = 'red'>obj.groupby(['key1','key2'])</font>
- <font color = 'red'>obj.groupby(key,axis=1)</font>

In [ ]:
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'Kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(data)

print (df)

In [ ]:
grouped = df.groupby('Team')
grouped

The result of calling *groupby()* on a DataFrame is not the actual grouped data, but a DataFrameGroupByobject. The grouping has not actually been performed. This object represents an interim description of the grouping to be performed.

In [ ]:
# Get the number of Groups .ngroups
grouped.ngroups

In [ ]:
df.Team.nunique()

The .groups property will return a Python dictionary whose keys represent the names of each group. The values in the dictionary are an array of the index labels contained within each respective group

In [ ]:
grouped.groups

#### Accessing the results of grouping
#### Iterating Over Groups
The GroupBy object supports iteration, generating a sequence of 2-tuples containing the group name along with the chunk of data.

In [ ]:
# A helper function to print the content of the groups

def print_groups (groupobject):
    for name, group in groupobject:
        print(name)
        print(group)

In the case of multiple keys, the first element in the tuple will be a tuple of key values:

In [ ]:
for (k1, k2), group in df.groupby(['Team', 'Rank']):
    print((k1, k2))
    print(group)

In [ ]:
pieces = dict(list(df.groupby('Team')))
pieces

In [ ]:
print_groups(grouped)

In [ ]:
# Group by multiple columns

print (df.groupby(['Team','Year']).groups)

In [ ]:
# how many items in each group
grouped.size()

In [ ]:
# count of items in each column of each group
grouped.count()

In [ ]:
# Retrieve a specific group
grouped.get_group('Devils')

In [ ]:
# The head() and tail() methods can be used to return the specified number of items in 
# each group.

grouped.head(3)

In [ ]:
# nth() method will return teh n-th item in each group. 
# First item
grouped.nth(0)

In [ ]:
# Second item 
grouped.nth(1)

In [ ]:
grouped.nth(2)

In [ ]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

Suppose you wanted to compute the mean of the data1 column using the labels from key1. There are a number of ways to do this

In [ ]:
#grouped = df['data1'].groupby(df['key1'])
grouped = df[['data1','data2']].groupby(df['key1'])
grouped

In [ ]:
grouped.mean()

If instead we had passed multiple arrays as a list, we’d get something different:

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

In [ ]:
means.unstack()

In [ ]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

In [ ]:
df.groupby('key1').mean()
df.groupby(['key1', 'key2']).mean()

Regardless of the objective in using groupby, a generally useful groupby method is size, which returns a Series containing group sizes:

In [ ]:
df.groupby(['key1', 'key2']).size()

By default groupby groups on axis=0, but you can group on any of the other axes. For example, we could group the columns of our example df here by dtype like so

In [ ]:
df.dtypes

In [ ]:

grouped = df.groupby(df.dtypes, axis=1)

In [ ]:
for dtype, group in grouped:
    print(dtype)
    print(group)

### Selecting a Column or Subset of Columns

Indexing a GroupBy object created from a DataFrame with a column name or array of column names has the effect of column subsetting for aggregation. This means that:

Especially for large datasets, it may be desirable to aggregate only a few columns. For example, in the preceding dataset, to compute means for just the data2 column and get the result as a DataFrame

In [ ]:
df

In [ ]:
df.groupby(['key1', 'key2'])[['data2']].mean()

The object returned by this indexing operation is a grouped DataFrame if a list or array is passed or a grouped Series if only a single column name is passed as a scalar:

In [ ]:
s_grouped = df.groupby(['key1', 'key2'])['data2']
s_grouped
s_grouped.mean()

### Grouping with Dicts and Series

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

Now, suppose I have a group correspondence for the columns and want to sum together the columns by group:

In [ ]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}

Now, you could construct an array from this dict to pass to groupby, but instead we can just pass the dict (I included the key 'f' to highlight that unused grouping keys are OK):

In [ ]:
by_column = people.groupby(mapping, axis=1)
by_column.sum()

### Grouping with Functions

Using Python functions is a more generic way of defining a group mapping compared with a dict or Series. Any function passed as a group key will be called once per index value, with the return values being used as the group namesSuppose you wanted to group by the length of the names; while you could compute an array of string lengths, it’s simpler to just pass the len function:

In [ ]:
people.groupby(len).sum()

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

### Grouping by Index Levels

A final convenience for hierarchically indexed datasets is the ability to aggregate using one of the levels of an axis index.

In [ ]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

In [ ]:
hier_df.groupby(level='cty', axis=1).count()

### Data Aggregation

Aggregations refer to any data transformation that produces scalar values from arrays. An aggregated function returns a single aggregated value for each group. Once the **group by**  object is created, several aggregation operations can be performed on the grouped data. 

The preceding examples have used several of them, including mean, count, min, and sum. You may wonder what is going on when you invoke mean() on a GroupBy object. Many common aggregations, such as those found in Table 10-1, have optimized implementations. However, you are not limited to only this set of methods.



| Function name |   Description|
|:---|:---|
|   count | Number of non-NA values in the group |
|   sum|  Sum of non-NA values |
|   mean |  Mean of non-NA values |
|   median |  Arithmetic median of non-NA values |
|   std, var | Unbiased (n – 1 denominator) standard deviation and variance |
|   min,max|  Minimum and maximum of non-NA values|

In [ ]:
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'Kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(data)

print (df)

In [ ]:
print(df.groupby('Team'))

In [ ]:
## View Groups 
print(df.groupby('Team').groups)

In [ ]:
# Group by multiple columns

(df.groupby(['Team','Year']).groups)

In [ ]:
print(df.groupby('Team')['Points'].agg(np.mean))

In [ ]:
## Applying Mutliple Aggregation Functions at Once

print(df.groupby('Team')['Points'].agg([np.mean, np.sum, np.std]))

In [ ]:
# Transformations
score = lambda x: (x - x.mean()) / x.std()*10
print(df.groupby('Team').transform(score))

In [ ]:
# Filtration: Return the team which have particiapted three or more times
print(df.groupby('Team').filter(lambda x:len(x)>=3))

#### Apply: General split-apply-combine

In [ ]:
tips = pd.read_csv('/Users/pramodgupta/Desktop/Courses_0921/NOE/examples/tips.csv')
tips.head()

In [ ]:
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [ ]:
tips.head()

Returning to the tipping dataset from before, suppose you wanted to select the top five tip_pct values by group.

In [ ]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [ ]:
top(tips, n=6)

In [ ]:
tips.smoker.unique()

In [ ]:
tips.groupby('smoker').apply(top)  # group sby smoker

In [ ]:
result = tips.groupby('smoker')['tip_pct'].describe()
result

In [ ]:
result.unstack('smoker')

#### Suppressing the Group Keys

You can disable this by passing group_keys=False to groupby:

In [ ]:
tips.groupby('smoker', group_keys=False).apply(top)

#### Filtering groups


The pandas groupby provides a *filter()* method, which can be used to make group level decisions on whether or not the entire group is included in the result after combining. The function passed to *filter()* should return *True* if the group is to be included in teh result and *False* to exclude it.

In [ ]:
df = pd.DataFrame ({'Label': list("AABCCC"), 'Values': [1,2,3,4,np.nan,5]})
df

Here we are omitting which has minimum number of items. In the example we are omitting the items which have one or less items

In [ ]:
f = lambda x:x.Values.count() >1
df.groupby('Label').filter(f)

In [ ]:
# The following will omit groups that do not have all values supplied
f1 = lambda x:x.Values.isnull().sum()  == 0
df.groupby('Label').filter(f1)

In [ ]:
# Instead of dropping a group, the use of the dropna = False parameter allows the return
# of the offending groups, but with all their values replaced with NaN. This is useful
# if you want to determine which items have been omitted:

f = lambda x:x.Values.count() > 1
df.groupby('Label').filter(f, dropna = False)

In [ ]:
d = pd.DataFrame(np.random.randn(3, 4))
d

In [ ]:
a,b= np.where(d == np.min(d,axis =0))
list(zip(a,b))